@import 'nib'

reset-html5()

body
  padding: 40px

#neck
  display: table
  background: whiteSmoke
  padding: 8x

ul,ol
  margin: 0

ul.string
  dispay: table-row

#neck li
  transition: all 1s ease 0s
  display: table-cell
  min-width: 80px
  height: 50px
  text-align: center
  vertical-align: middle

.inactive
  color: rgba(0,0,0,0.2)

.P1
  background-color: #ff476c

.m2
  background-color: #ffb741

.M2
  background-color: #6a80ff

.m3
  background-color: #9f65ff

.M3
  background-color: #fd7cff

.P4
  background-color: #ffe73a

.d5
  background-color: #5bfffd

.P5
  background-color: #ffa49d

.m6
  background-color: #627061

.M6
  background-color: #b2d4a3

.m7
  background-color: #d4a6ba

.M7
  background-color: #b2d4a3

pos-0
  box-shadow: -4px 0 5px rgba(0,0,0,0.2) inset

.autocomplete-w1
  position: absolute
  top: 0
  left: 0
  margin: 8px 0 0 6px
  _background: 0
  _margin: 0

.autocomplete
  border: 1px solid #999
  background: #FFF
  cursor: default
  text-align: left
  max-height: 350px
  overflow: auto
  margin: -6px 6px 6px -6px
  _height: 350px
  _margin: 0
  _overflow-x: hidden

.autocomplete .selected
  background: #f0f0f0

.autocomplete div
  padding: 2px 5px
  white-space: nowrap

.autocomplete strong
  font-weight: normal
  color: #39f

