script#definitionTemplate(type="text/html")
  div.definition
    div.name
      h1
        a.tag(href="#"):<%=name%>
    div.legend
      ul.note-list <% _.each(notes,function(n, index){ print("<li class='note " + intervals[index] + " '>" + n + "</li>") })%>
      ul.interval-list <% _.each(intervals,function(n, index){ print("<li class='note " + intervals[index] + " '>" + n + "</li>") })%>