header


    
div#content
  div#ui
    div.search.icon-search
      input#search(type="text", name="search", placeholder="Enter a scale or chord name, do it!")
    div#chord-definition
      
  div#chord-navigator
    #fretboard
  // RELATED CHORDS AND SCALES
  div#related

// UNDERSCORE TEMPLATES //
include definition.template.jade
include string.ui.template.jade