div#content

  header
    div.left
      h1= title
      input#search(type="text", name="search", placeholder="Enter scale or chord name", class="icon-search")
    div#chord-definition

  div#chord-navigator
    #fretboard
  
include definition.template.jade