div#content
  header
    h1= title

  div#chord-navigator
    input#search(type="text", name="search", placeholder="Enter scale or chord name")
    #neck
  div#dictionary
    div#chord-definition
  
script#definitionTemplate(type="text/html")
  <article id="definition">
  <h1><span class='name'>Name:</span> <%=name%></h1>
  <ul class="note-list"><span class='notes'>Notes:</span><% _.each(notes,function(n, index){print("<li class='note " + intervals[index] + " '>" + n + "</li>")})%></ul>
  <ul class="interval-list"><span class='notes'>Intervals:</span><% _.each(intervals,function(n, index){print("<li class='note " + intervals[index] + " '>" + n + "</li>")})%></ul>
  </article>