header
  div.title
    h1= title
    
div#content
  div#ui
    div.search.icon-search
      input#search(type="text", name="search", placeholder="Enter scale or chord name")
    div#chord-definition
      
  div#chord-navigator
    #fretboard



  div#related

include definition.template.jade
include string.ui.template.jade