ul#Instruments: a(href="#instruments") Instruments
  li.instrument: a(href="#guitar")
    li.instrument: a(href="/tuning/e,a,d,g,b,e") Standard Tuning
    li.instrument: a(href="/tuning/d,a,d,g,b,e") Guitar Drop D Tuning
    li.instrument: a(href="/tuning/d,g,d,g,b,d") Guitar Open G Tuning
    li.instrument: a(href="/tuning/e,a,e,a,c%23,e") Guitar Open A Tuning
  li.instrument: a(href="/tuning/e,a,d,g") Electric Bass