!!! 5
html(lang="en")
  
  head
    meta(charset="UTF-8")
    title= 'Fretboard'
    script(src='/javascripts/libs/modernizr.js')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,900', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
    footer
        script(src='/javascripts/libs/jquery-1.8.1.min.js')
        script(src='/javascripts/libs/underscore.js')
        script(src='/javascripts/libs/backbone.js')
        script(src='/javascripts/libs/jquery.autocomplete.js')
        // Note Dictionary and Router
        script(src='/javascripts/note-dictionary.js')
        script(src='/javascripts/router/router.js')
        // Models
        script(src='/javascripts/models/note.collection.js')
        script(src='/javascripts/models/note.model.js')
        script(src='/javascripts/models/string.model.js')
        script(src='/javascripts/models/string.collection.js')
        script(src='/javascripts/models/definition.model.js')
        // views
        script(src='/javascripts/views/search.js')
        script(src='/javascripts/views/note.js')
        script(src='/javascripts/views/string.js')
        script(src='/javascripts/views/fretboard.js')
        script(src='/javascripts/views/definition.js')
        script(src='/javascripts/views/related.js')
        // Run App
        script(src='/javascripts/main.js')
