!!! 5
html
  
  head
    title= 'Fretboard'
    script(src='/javascripts/libs/modernizr-2.5.3-respond-1.1.0.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
  
  footer
    script(src='/javascripts/libs/jquery-1.7.1.js')
    script(src='/javascripts/libs/underscore.js')
    script(src='/javascripts/libs/backbone.js')
    script(src='/javascripts/libs/jquery.autocomplete-min.js')
    script(src='/javascripts/app.min.js')