!!! 5
html
  
  head
    title= 'Fretboard'
    script(src='/javascripts/libs/modernizr-min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
    footer
      script(src='/javascripts/app.min.js')
