!!! 5
html
  
  head
    title= 'Fretboard'
    script(src='/javascripts/libs/modernizr-2.5.3-respond-1.1.0.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body

  footer

  script(src='/javascripts/libs/jquery-1.7.1.js')
  script(src='/javascripts/libs/underscore.js')
  script(src='/javascripts/libs/backbone.js')
  script(src='/javascripts/libs/jquery.autocomplete-min.js')
  script(src='/javascripts/underscore.config.js')
  // Note Dictionary and Router
  script(src='/javascripts/note-dictionary.js')
  script(src='/javascripts/router/router.js')
  // Models
  script(src='/javascripts/models/note.collection.js')
  script(src='/javascripts/models/note.model.js')
  script(src='/javascripts/models/string.model.js')
  script(src='/javascripts/models/string.collection.js')
  script(src='/javascripts/models/definition.model.js')
  // views
  script(src='/javascripts/views/search.js')
  script(src='/javascripts/views/note.js')
  script(src='/javascripts/views/string.js')
  script(src='/javascripts/views/fretboard.js')
  script(src='/javascripts/views/definition.js')
  // Run App
  script(src='/javascripts/main.js')