script#stringUITemplate(type="text/html")
  .stringUI
    a(href="javascript:void(0)", class="add")
      span.icon-plus-sign
    a(href="javascript:void(0)", class="remove")
          span.icon-remove-sign
    a(href="javascript:void(0)", class="tuneDown")
          span.icon-circle-arrow-down
    a(href="javascript:void(0)", class="tuneUp")
              span.icon-circle-arrow-up