script#stringUITemplate(type="text/html")
  .stringUI
    a(href="javascript:void(0)", class="add", title="Add string")
      span.icon-plus-sign
    a(href="javascript:void(0)", class="remove", title="Delete string")
          span.icon-remove-sign
    a(href="javascript:void(0)", class="shiftLeft", title="Shift left / Tune Up")
          span.icon-circle-arrow-left
    a(href="javascript:void(0)", class="shiftRight", title="Shift right / Tune Down")
              span.icon-circle-arrow-right