/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/style.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

// Project: https://github.com/thomas-mcdonald/bootstrap-sass/
// Need to configure a variable or two? Simply define the value of the variable you want to change before importing Bootstrap.
@import "partials/_varsAndMixins";
///// I gather this file is a starting point for the project.
//@import "bootstrap";

* {
   box-sizing: border-box;
}

body {
  padding: 40px;
  font-family: "Helvetica";
  @include background(linear-gradient(top left, #2f2f30, #2f2f30), image-url('../images/noise.png'));
}
 
#content {
  width: 100%;
  margin: 0 auto
}

header h1 {
  @include replaceWithImage('../images/title.png');
}

#neck {
  display: table;
  padding: 0 4px;
  margin: 10px;
}

.string {
  @extend .inset;
  display: block;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.2);

}
.fret {
  display: table-cell;
  width: 80px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  border-right: 2px solid rgba(255, 255, 255, 0.05);
}
  

.note {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 12px;
  line-height: 40px;
}
.inactive {
  color: rgba(255,255,255,0.3)
}


.pos-0 {
  background: rgba(255, 255, 255, 0.03);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.autocomplete-w1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 8px 0 0 6px;
  background: 0;
  margin: 0
}
.autocomplete {
  border: 1px solid #999;
  background: #fff;
  cursor: default;
  text-align: left;
  max-height: 350px;
  overflow: auto;
  margin: -6px 6px 6px -6px;
  height: 350px;
  margin: 0;
  overflow-x: hidden
}
.autocomplete .selected {
  background: #f0f0f0
}
.autocomplete div {
  padding: 2px 5px;
  white-space: nowrap
}
.autocomplete strong {
  font-weight: normal;
  color: #39f;
  
}

input,textarea {
  
  @extend .inset;

  background: #262627;

  border: none;

  width: 330px;
  height: 30px;

  border-radius: 30px;
  margin: 10px;
  font-size: 16px;
  padding-left: 36px;

  color: #DAD7C8;

  &:focus{
   outline: none;
  }
}

// Include responsive Bootstrap styles
//@import "bootstrap-responsive";
