/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/style.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

// Project: https://github.com/thomas-mcdonald/bootstrap-sass/
// Need to configure a variable or two? Simply define the value of the variable you want to change before importing Bootstrap.
@import "partials/_font-awesome.scss";
@import "partials/_varsAndMixins";
///// I gather this file is a starting point for the project.
//@import "bootstrap";

* {
   box-sizing: border-box;
}

body {
  padding: 40px;
  font-family: "Helvetica";
  color:$font-color;
  @include background(image-url('noise.png'),linear-gradient(top, $backgroundColor, $backgroundColor));
}
.left{
  float:left;
}
#content {
  width: 1200px;
  margin: 0 auto;
}
header{
  width:100%;
  float:left;
}

header h1 {
  font-family: $ff1;
  color: $font-color;
  font-size: 79px;
  line-height: 80px;
}

#fretboard {
  clear:both;
  display: table;
  width: 100%;
}

.string {
  @extend .inset;
  display: block;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.2);
  @include border-radius(20px 0 0 20px);

}
.fret {
  display: table-cell;
  width: 90px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  border-right: 2px solid rgba(255, 255, 255, 0.05);
}

.stringUI{
  display: table-cell;
  width: 120px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  border-right: 2px solid rgba(255, 255, 255, 0.05);
}

.note {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 12px;
  line-height: 40px;
}
.inactive {
  color: rgba(255,255,255,0.3)
}


.pos-0 {
  background: rgba(255, 255, 255, 0.03);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.autocomplete-w1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 8px 0 0 6px;
  background: 0;
  margin: 0
}
.autocomplete {
  border: 1px solid #999;
  background: #fff;
  cursor: default;
  text-align: left;
  max-height: 350px;
  overflow: auto;
  margin: -6px 6px 6px -6px;
  height: 350px;
  margin: 0;
  overflow-x: hidden
}
.autocomplete .selected {
  background: #f0f0f0
}
.autocomplete div {
  padding: 2px 5px;
  white-space: nowrap
}
.autocomplete strong {
  font-weight: normal;
  color: #39f;
  
}

input,textarea {
  
  @extend .inset;
  background: transparent;
  border: none;
  width: 330px;
  height: 30px;

  border-radius: 30px;
  margin: 10px;
  font-size: 16px;
  padding-left: 36px;

  color: $font-color;

  &:focus{
   outline: none;
  }
}
// Note Dicitionary
#definition{
  @extend .inset;
  display: table;
  float: right;
  margin: 6px 0px;
  padding: 10px 30px 10px 6px;
  border-radius: 60px;
}
.name {
  display: table-cell;
  vertical-align: middle;
}

.name > h1 {
  color: $font-color;
  font-family:$ff1;
  font-size: 30px;
  border-right:1px solid;
  padding: 0px 14px 12px;
}
ul.note-list, ul.interval-list {
  padding: 0 8px;
}
li.note {
  margin: 4px 4px;
}

div.stringUI a {
  font-size: 19px;
  text-decoration: none;
  color:rgba(255,255,255,0.2);
  padding:0 5px;
  &:hover{
    color:$font-color;
  }
}
// Include responsive Bootstrap styles
//@import "bootstrap-responsive";
