/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/style.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 24, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/partials/_varsAndMixins.scss */
.P1 {
  background-color: #ff003d;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #cc0031 -4px -9px 30px inset, #ff3364 1px 4px 7px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #cc0031 -4px -9px 30px inset, #ff3364 1px 4px 7px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #cc0031 -4px -9px 30px inset, #ff3364 1px 4px 7px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #cc0031 -4px -9px 30px inset, #ff3364 1px 4px 7px inset;
  color: black;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
}

/* line 24, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/partials/_varsAndMixins.scss */
.m2 {
  background-color: #ffb741;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #ffa40e -4px -9px 30px inset, #ffca74 1px 4px 7px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #ffa40e -4px -9px 30px inset, #ffca74 1px 4px 7px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #ffa40e -4px -9px 30px inset, #ffca74 1px 4px 7px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #ffa40e -4px -9px 30px inset, #ffca74 1px 4px 7px inset;
  color: #412800;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
}

/* line 24, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/partials/_varsAndMixins.scss */
.M2 {
  background-color: #6a80ff;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #3755ff -4px -9px 30px inset, #9dabff 1px 4px 7px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #3755ff -4px -9px 30px inset, #9dabff 1px 4px 7px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #3755ff -4px -9px 30px inset, #9dabff 1px 4px 7px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #3755ff -4px -9px 30px inset, #9dabff 1px 4px 7px inset;
  color: #00106a;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
}

/* line 24, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/partials/_varsAndMixins.scss */
.m3 {
  background-color: #9f65ff;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #7f32ff -4px -9px 30px inset, #bf98ff 1px 4px 7px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #7f32ff -4px -9px 30px inset, #bf98ff 1px 4px 7px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #7f32ff -4px -9px 30px inset, #bf98ff 1px 4px 7px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #7f32ff -4px -9px 30px inset, #bf98ff 1px 4px 7px inset;
  color: #260065;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
}

/* line 24, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/partials/_varsAndMixins.scss */
.M3 {
  background-color: #fd7cff;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #fc49ff -4px -9px 30px inset, #feafff 1px 4px 7px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #fc49ff -4px -9px 30px inset, #feafff 1px 4px 7px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #fc49ff -4px -9px 30px inset, #feafff 1px 4px 7px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #fc49ff -4px -9px 30px inset, #feafff 1px 4px 7px inset;
  color: #7a007c;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
}

/* line 24, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/partials/_varsAndMixins.scss */
.P4 {
  background-color: #ffe73a;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #ffe107 -4px -9px 30px inset, #ffed6d 1px 4px 7px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #ffe107 -4px -9px 30px inset, #ffed6d 1px 4px 7px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #ffe107 -4px -9px 30px inset, #ffed6d 1px 4px 7px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #ffe107 -4px -9px 30px inset, #ffed6d 1px 4px 7px inset;
  color: #3a3300;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
}

/* line 24, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/partials/_varsAndMixins.scss */
.d5 {
  background-color: #5bc7c6;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #3db2b1 -4px -9px 30px inset, #81d4d3 1px 4px 7px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #3db2b1 -4px -9px 30px inset, #81d4d3 1px 4px 7px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #3db2b1 -4px -9px 30px inset, #81d4d3 1px 4px 7px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #3db2b1 -4px -9px 30px inset, #81d4d3 1px 4px 7px inset;
  color: #091a1a;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
}

/* line 24, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/partials/_varsAndMixins.scss */
.P5 {
  background-color: #ffa49d;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #ff756a -4px -9px 30px inset, #ffd3d0 1px 4px 7px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #ff756a -4px -9px 30px inset, #ffd3d0 1px 4px 7px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #ff756a -4px -9px 30px inset, #ffd3d0 1px 4px 7px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #ff756a -4px -9px 30px inset, #ffd3d0 1px 4px 7px inset;
  color: #9d0b00;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
}

/* line 24, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/partials/_varsAndMixins.scss */
.m6 {
  background-color: #627061;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #4a5549 -4px -9px 30px inset, #7a8b79 1px 4px 7px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #4a5549 -4px -9px 30px inset, #7a8b79 1px 4px 7px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #4a5549 -4px -9px 30px inset, #7a8b79 1px 4px 7px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #4a5549 -4px -9px 30px inset, #7a8b79 1px 4px 7px inset;
  color: black;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
}

/* line 24, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/partials/_varsAndMixins.scss */
.M6 {
  background-color: #b2d4a3;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #95c480 -4px -9px 30px inset, #cfe4c6 1px 4px 7px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #95c480 -4px -9px 30px inset, #cfe4c6 1px 4px 7px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #95c480 -4px -9px 30px inset, #cfe4c6 1px 4px 7px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #95c480 -4px -9px 30px inset, #cfe4c6 1px 4px 7px inset;
  color: #345226;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
}

/* line 24, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/partials/_varsAndMixins.scss */
.m7 {
  background-color: #d4a6ba;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #c3849f -4px -9px 30px inset, #e5c8d5 1px 4px 7px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #c3849f -4px -9px 30px inset, #e5c8d5 1px 4px 7px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #c3849f -4px -9px 30px inset, #e5c8d5 1px 4px 7px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #c3849f -4px -9px 30px inset, #e5c8d5 1px 4px 7px inset;
  color: #53283b;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
}

/* line 24, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/partials/_varsAndMixins.scss */
.M7 {
  background-color: #b2d4a3;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #95c480 -4px -9px 30px inset, #cfe4c6 1px 4px 7px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #95c480 -4px -9px 30px inset, #cfe4c6 1px 4px 7px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #95c480 -4px -9px 30px inset, #cfe4c6 1px 4px 7px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 8px, #95c480 -4px -9px 30px inset, #cfe4c6 1px 4px 7px inset;
  color: #345226;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
}

/* line 35, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/partials/_varsAndMixins.scss */
.inset, .string, input, textarea {
  -moz-box-shadow: 0 1px rgba(255, 255, 255, 0.25), 0 -1px rgba(0, 0, 0, 0.5), inset 0 1px 8px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.25), 0 -1px rgba(0, 0, 0, 0.5), inset 0 1px 8px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 1px rgba(255, 255, 255, 0.25), 0 -1px rgba(0, 0, 0, 0.5), inset 0 1px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px rgba(255, 255, 255, 0.25), 0 -1px rgba(0, 0, 0, 0.5), inset 0 1px 8px rgba(0, 0, 0, 0.25);
}

/* line 15, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 19, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/style.scss */
body {
  padding: 40px;
  font-family: "Helvetica";
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #2f2f30), color-stop(100%, #2f2f30)), url('../images/../images/noise.png?1343850113');
  background: -webkit-linear-gradient(top left, #2f2f30, #2f2f30), url('../images/../images/noise.png?1343850113');
  background: -moz-linear-gradient(top left, #2f2f30, #2f2f30), url('../images/../images/noise.png?1343850113');
  background: -o-linear-gradient(top left, #2f2f30, #2f2f30), url('../images/../images/noise.png?1343850113');
  background: -ms-linear-gradient(top left, #2f2f30, #2f2f30), url('../images/../images/noise.png?1343850113');
  background: linear-gradient(top left, #2f2f30, #2f2f30), url('../images/../images/noise.png?1343850113');
}

/* line 25, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/style.scss */
#content {
  width: 100%;
  margin: 0 auto;
}

/* line 30, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/style.scss */
header h1 {
  display: block;
  width: 352px;
  height: 84px;
  background-image: URL("../images/title.png");
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -9999px;
}

/* line 34, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/style.scss */
#neck {
  display: table;
  padding: 8px;
}

/* line 39, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/style.scss */
.string {
  display: block;
  margin: 5px 0;
  padding: 0 30px;
  background: rgba(0, 0, 0, 0.2);
}

/* line 47, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/style.scss */
.fret {
  display: table-cell;
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
}

/* line 55, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/style.scss */
.inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* line 60, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/style.scss */
pos-0 {
  -webkit-box-shadow: -4px;
  -moz-box-shadow: -4px;
  box-shadow: -4px;
}

/* line 65, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/style.scss */
.autocomplete-w1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 8px 0 0 6px;
  background: 0;
  margin: 0;
}

/* line 73, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/style.scss */
.autocomplete {
  border: 1px solid #999;
  background: #fff;
  cursor: default;
  text-align: left;
  max-height: 350px;
  overflow: auto;
  margin: -6px 6px 6px -6px;
  height: 350px;
  margin: 0;
  overflow-x: hidden;
}

/* line 85, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/style.scss */
.autocomplete .selected {
  background: #f0f0f0;
}

/* line 88, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/style.scss */
.autocomplete div {
  padding: 2px 5px;
  white-space: nowrap;
}

/* line 92, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/style.scss */
.autocomplete strong {
  font-weight: normal;
  color: #39f;
}

/* line 98, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/style.scss */
input, textarea {
  background: #262627;
  border: none;
  width: 330px;
  height: 30px;
  border-radius: 30px;
  margin: 10px;
  font-size: 16px;
  padding-left: 36px;
  color: #DAD7C8;
}
/* line 116, /Volumes/HD/web_projects/fretboard/public/stylesheets/sass/style.scss */
input:focus, textarea:focus {
  outline: none;
}
