* { box-sizing: border-box }
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}




a {
  color: #00B7FF;
}

#neck {
    display: table;
    background: whiteSmoke;
    padding: 20px;
}

ul.string {
    dispay:table-row;
    box-shadow: inset 0PX 0PX 40px hsla(0, 0%, 0%, 0.2);

}
#neck li {
    transition: all 1s ease 0s;
    display: table-cell;
    width: 80px;

    box-shadow: inset 0PX 0PX 5px hsla(0, 0%, 0%, 0.2);
    hsla(0, 0%, 0%, 0.2);
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
}

.inactive {
    color: hsla(0, 0%, 0%, .2);
}

.P1{background-color: #FF476C;}
.m2{background-color: #ffb741;}
.M2{background-color: #6a80ff;}
.m3{background-color: #9f65ff;}
.M3{background-color: #fd7cff;}
.P4{background-color: #ffe73a;}
.d5{background-color: #5bfffd;}
.P5{background-color: #FFA49D;}
.m6{background-color: #627061;}
.M6{background-color: #b2d4a3;}
.m7{background-color: #d4a6ba;}
.M7{background-color: #b2d4a3;}