$SailPath: "../../fonts/Sail-Regular" !default;

@include font-face(
'Sail',
font-files(
"#{$SailPath}.ttf", truetype
)
);

$ff1: 'Sail';// 'Lovers Quarrel';
$ff2: 'Source Sans Pro', sans-serif;
$baseFontSize: 16px;
$font-color:#DAD7C8;
$backgroundColor: #222;
$backgroundImage2: image-url('dark_wall.png');
$backgroundImage: image-url('txture.png');
$intervalList: P1, m2, M2, m3, M3, P4, d5, P5, m6, M6, m7, M7;
$colors: #f4223b,#ff8694,#fcbe00,#125f3a,#02ad5b,#693b7c,#995da8,#ff8111,#165caa,#4198f9,#717171,#9f9f9f;
// $images: 

//
// replace text with image
//
@mixin replaceWithImage($image) {
  display:block;
  width: image-width($image);
  height:image-height($image);
  background-image: URL($image);
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -9999px
}
// 
// Traverse over interval and color lists and create classes;
$i: 1;

@each $interval in $intervalList {
  .#{$interval} {
    $color:nth($colors, $i);
    background-color: $color;
    color:lighten($color, 50);
    @include box-shadow(1px 1px 10px rgba(black, 0.5));
    @include border-radius(50px);
    @include transition-property(all);
    @include transition-duration(1s);
  }
  $i: $i+1;
}

.inset{
  background: rgba(0, 0, 0, 0.2);
  @include box-shadow(0 1px rgba(white,.1),0 -1px rgba(black,.2), inset 0 1px 8px rgba(black,.1)  );
}